

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Library Information System</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .control-label {padding-top: 10px;}
    .hide {display: none;}
  </style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="landing">
          <img src="images\mssu.png" height="60" class="d-inline-block align-top" alt="">
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="landing">LANDING PAGE</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link external-link" href="administration">ADMINISTRATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link external-link" href="circulation">CIRCULATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link external-link" href="reference">REFERENCE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link external-link" href="https://www.mssu.edu/business-affairs/information-technology/">IT PORTAL</a>
          </li>
          <li>
            <form action="/logout?_method=DELETE" method="POST">
            <button class="btn btn-primary" type="submit">Logout </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
<div class="container">

  <div class="col-lg-12 text-center" style="padding-top: 30px">
    <h3>Administration</h3>
    <p>View, Edit, Add, and Remove Items, Collections, and Patron Accounts.</p>

    <a class="btn btn-primary" data-toggle="collapse" href="#collapseAccounts" role="button" aria-expanded="false"
      aria-controls="collapseAccounts">ACCOUNTS</a>

    <a class="btn btn-primary" data-toggle="collapse" href="#collapseBooks" role="button" aria-expanded="false"
      aria-controls="collapseBooks">BOOKS</a>

    <a class="btn btn-primary" data-toggle="collapse" href="#collapseCollections" role="button" aria-expanded="false"
      aria-controls="collapseCollections">COLLECTIONS</a>


  </div>

<!-- ACCOUNTS -->
  <div class="row collapse" id="collapseAccounts" style="padding: 10px">
    <div class="col"><button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
        data-target="#createAccountModal">Add New Account</button></div>

    <!-- Table Area -->
    <div class="col-lg-12 text-center" style="padding: 10px">
      <h3 id="patronAccountsHeading">Accounts</h3>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">S#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Address</th>
            <th scope="col">Email Address</th>
            <th scope="col">Controls</th>
          </tr>
        </thead>
        <tbody>
          {{#account}}
          <tr>
            <th scope="row">{{accountId}}</th>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{#if address}}{{address}}{{else}}Nothing on file{{/if}}</td>
            <td>{{email}}</td>
            <td><button type="button" class="btn btn-primary accountInfo" data-account="{{accountId}}">Edit</button>
                <button type="button" class="btn btn-primary deleteAccount" data-account="{{accountId}}">Delete</button>
            </td>
          </tr>
          {{/account}}
        </tbody>
      </table>
    </div>
  </div>

<!-- BOOKS -->
  <div class="row collapse" id="collapseBooks" style="padding: 10px">
    <div class="col"><button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
        data-target="#createBookModal">Add New Books</button></div>

    <!-- Table Area -->
    <div class="col-lg-12 text-center" style="padding: 10px">
      <h3 id="patronAccountsHeading">Books</h3>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Barcode</th>
            <th scope="col">Title</th>
            <th scope="col">Format</th>
            <th scope="col">Language</th>
            <th scope="col">Location</th>
            <th scope="col">Controls</th>
          </tr>
        </thead>
        <tbody>
          {{#book}}
          <tr>
            <th scope="row">{{barcode}}</th>
            <td>{{title}}</td>
            <td>{{format}}</td>
            <td>{{language}}</td>
            <td>{{location}}</td>
            <td><button type="button" class="btn btn-primary bookUpdate" data-item="{{barcode}}">Edit</button>
              <button type="button" class="btn btn-primary deleteBook" data-item="{{barcode}}">Delete</button>
            </td>
          </tr>
          {{/book}}
        </tbody>
      </table>
    </div>

  </div>

<!-- COLLECTIONS -->
  <div class="row collapse" id="collapseCollections" style="padding: 10px">
    <div class="col"><button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
        data-target="#createCollectionModal">Add New Collection</button></div>

    <!-- Table Area -->
    <div class="col-lg-12 text-center" style="padding: 10px">
      <h3 id="collectionsHeading">Collections</h3>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Collection ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Controls</th>
          </tr>
        </thead>
        <tbody>
          {{#collection}}
          <tr>
            <th scope="row">{{collecitonId}}</th>
            <td>{{collectionName}}</td>
            <td>{{description}}</td>
            <td><button type="button" class="btn btn-primary collectionInfo" data-collection="{{collectionId}}">Edit</button>
                <button type="button" class="btn btn-primary deleteCollection" data-collection="{{collectionId}}">Delete</button>
            </td>
          </tr>
          {{/collection}}
        </tbody>
      </table>
    </div>
  </div>
 </div>
</div>

<!-- Account Update Modal -->
      <div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="accountModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Edit account </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
          <div class="modal-body">
            <div class="form-group">
              <!-- Account Type Form -->
              <form id="account-update" method="POST" action="/account/">
              <!-- First Name Form -->
              <label class="control-label" for="firstNameUpdate">First Name</label>
              <input id="firstNameUpdate" name="firstNameUpdate" type="text" placeholder="First Name" class="form-control input-md" required="">
              <!-- Last Name Form -->
              <label class="control-label" for="lastNameUpdate">Last Name</label>
              <input id="lastNameUpdate" name="lastNameUpdate" type="text" placeholder="Last Name" class="form-control input-md" required="">
              <!-- Email Form -->
              <label class="control-label" for="emailUpdate">Email</label>
              <input id="emailUpdate" name="emailUpdate" type="text" placeholder="Email@domain.com" class="form-control input-md" required="">
              <!-- Address Form -->
              <div class="addressInput"> 
              <label class="control-label" for="addressUpdate">Address (Patrons Only)</label>
              <input id="addressUpdate" name="addressUpdate" type="text" placeholder="123 Street Address, City, State, Zip" class="form-control input-md">
              </div>
              <!-- Admin Status Radios -->
              <label class="control-label" for="isAdminRadioUpdate">Is user an Admin? (Staff Only)</label>
              <div class="radioUpdate">
                <label for="isAdminRadio-0">
                <input type="radio" name="isAdminRadio" id="isAdminRadio-0" value="0" >No</label>
                <label for="isAdminRadio-1">
                <input type="radio" name="isAdminRadio" id="isAdminRadio-1" value="1" >Yes</label>
              </div>
              <!-- Password Form -->
              <label class="control-label" for="passwordUpdate">Password</label>
              <input id="passwordUpdate" name="passwordUpdate" type="password" placeholder="Password" class="form-control input-md" required="">
            </div>
          </div>
          <div class="modal-footer">
            <!-- Form Buttons -->
            <button id="saveAccountButton" name="saveAccountButton" value="submit" class="btn btn-success">Save</button>
            <button id="cancelChangesButton" name="cancelChangesButton" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
            </form>
          </div>
        </div>
      </div>

<!-- Book Update Modal -->
      <div class="modal fade" id="bookUpdateModal" tabindex="-1" role="dialog" aria-labelledby="bookUpdateModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Edit Book </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
          <div class="modal-body">
            <div class="form-group">
            <form id="book-update" method="POST" action="/book/">
              <!-- Book Title Form 0.0 -->
              <label class="control-label" for="bookTitleInput">Book Title</label>
              <input id="bookTitleInput" name="bookTitleInput" type="text" placeholder="Title" class="form-control input-md" required="">
              <!-- Book Author Form -->
              <label class="control-label" for="bookAuthorInput">Book Author</label>
              <input id="bookAuthorInput" name="bookAuthorInput" type="text" placeholder="Author" class="form-control input-md" required="">
              <!-- Language Form -->
              <form id="bookLanguage-form" method="POST" action="/administration">
              <label class="control-label" for="bookLanguage">Language</label>
              <select id="bookLanguage" name="bookLanguage" class="form-control">
                <option value="english">English</option>
                <option value="spanish">Spanish</option>
              </select>
              <!-- Format Form -->
              <form id="bookFormat-form" method="POST" action="/administration">
              <label class="control-label" for="bookFormat">Format</label>
              <select id="bookFormat" name="bookFormat" class="form-control">
                <option value="book">Book</option>
                <option value="audioBook">Audio Book</option>
              </select>
              <!-- Location Form -->
              <form id="bookLocation-form" method="POST" action="/administration">
              <label class="control-label" for="bookLocation">Location ID</label>
              <select id="bookLocation" name="bookLocation" class="form-control">
                <option value="123">123</option>
              </select>
              <!-- Collection Form -->
              <form id="bookColleciton-form" method="POST" action="/administration">
              <label class="control-label" for="bookCollection">Collection</label>
              <select id="bookCollection" name="bookCollection" class="form-control">
                <option value="mainCollection">Main Collection</option>
                <option value="specialCollection">Special Collection</option>
              </select>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <!-- Form Buttons -->
            <button id="saveAccountButton" name="saveAccountButton" value="submit" class="btn btn-success">Save</button>
            <button id="cancelChangesButton" name="cancelChangesButton" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
            </form>
          </div>
        </div>
      </div>

<!-- Account Add Modal -->
      <div class="modal fade" id="createAccountModal" tabindex="-1" role="dialog" aria-labelledby="createAccountModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Create New Account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
          <div class="modal-body">
            <div class="form-group">
              <!-- Account Type Form -->
              <form id="account-form" method="POST" action="/administration">
              <!-- First Name Form -->
              <label class="control-label" for="firstNameInput">First Name</label>
              <input id="firstNameInput" name="firstNameInput" type="text" placeholder="First Name" class="form-control input-md" required="">
              <!-- Last Name Form -->
              <label class="control-label" for="lastNameInput">Last Name</label>
              <input id="lastNameInput" name="lastNameInput" type="text" placeholder="Last Name" class="form-control input-md" required="">
              <!-- Email Form -->
              <label class="control-label" for="emailInput">Email</label>
              <input id="emailInput" name="emailInput" type="text" placeholder="Email@domain.com" class="form-control input-md" required="">
              <!-- Address Form -->
              <div class="addressInput"> 
              <label class="control-label" for="addressInput">Address (Patrons Only)</label>
              <input id="addressInput" name="addressInput" type="text" placeholder="123 Street Address, City, State, Zip" class="form-control input-md">
              </div>
              <!-- Admin Status Radios -->
              <label class="control-label" for="isAdminRadio">Is user an Admin? (Staff Only)</label>
              <div class="radio">
                <label for="isAdminRadio-0">
                <input type="radio" name="isAdminRadio" id="isAdminRadio-0" value="0" >No</label>
                <label for="isAdminRadio-1">
                <input type="radio" name="isAdminRadio" id="isAdminRadio-1" value="1" >Yes</label>
              </div>
              <!-- Password Form -->
              <label class="control-label" for="passwordInput">Password</label>
              <input id="passwordInput" name="passwordInput" type="password" placeholder="Password" class="form-control input-md" required="">
            </div>
          </div>
          <div class="modal-footer">
            <!-- Form Buttons -->
            <button id="saveAccountButton" name="saveAccountButton" value="submit" class="btn btn-success">Save</button>
            <button id="cancelChangesButton" name="cancelChangesButton" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
            </form>
          </div>
        </div>
      </div>

<!-- Book Add Modal -->
      <div class="modal fade" id="createBookModal" tabindex="-1" role="dialog" aria-labelledby="createBookModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Create New Book</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
          <div class="modal-body">
            <div class="form-group">
              <!-- Book Title Form distinguish update/add inputs -->
              <label class="control-label" for="bookTitleInput">Book Title</label>
              <input id="bookTitleInput" name="bookTitleInput" type="text" placeholder="Title" class="form-control input-md" required="">
              <!-- Language Form -->
              <form id="bookLanguage-form" method="POST" action="/administration">
              <label class="control-label" for="bookLanguage">Language</label>
              <select id="bookLanguage" name="bookLanguage" class="form-control">
                <option value="english">English</option>
                <option value="spanish">Spanish</option>
              </select>
              <!-- Format Form -->
              <form id="bookFormat-form" method="POST" action="/administration">
              <label class="control-label" for="bookFormat">Format</label>
              <select id="bookFormat" name="bookFormat" class="form-control">
                <option value="book">Book</option>
                <option value="audioBook">Audio Book</option>
              </select>
              <!-- Location Form -->
              <form id="bookLocation-form" method="POST" action="/administration">
              <label class="control-label" for="bookLocation">Location ID</label>
              <select id="bookLocation" name="bookLocation" class="form-control">
                <option value="123">123</option>
              </select>
              <!-- Collection Form -->
              <form id="bookColleciton-form" method="POST" action="/administration">
              <label class="control-label" for="bookCollection">Collection</label>
              <select id="bookCollection" name="bookCollection" class="form-control">
                <option value="1">Main Collection</option>
                <option value="2">Special Collection</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <!-- Form Buttons -->
            <button id="saveBookButton" name="saveBookButton" value="submit" class="btn btn-success">Save</button>
            <button id="cancelChangesButton" name="cancelChangesButton" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
            </form>
          </div>
        </div>
      </div>

<!-- Collection Add Modal -->
      <div class="modal fade" id="createCollectionModal" tabindex="-1" role="dialog" aria-labelledby="createCollectionModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Create Collection</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
          <div class="modal-body">
            <div class="form-group">
              <!-- Collection Name Form -->
              <label class="control-label" for="collectionNameInput">Collection Name</label>
              <input id="collectionNameInput" name="collectionNameInput" type="text" placeholder="Collection Name" class="form-control input-md" required="">
              <!-- Collection Description Form -->
              <label class="control-label" for="bookAuthorInput">Collection Description</label>
              <input id="bookAuthorInput" name="bookAuthorInput" type="text" placeholder="Description" class="form-control input-md" required="">
            </div>
          </div>
          <div class="modal-footer">
            <!-- Form Buttons -->
            <button id="saveCollectionButton" name="saveCollectionButton" value="submit" class="btn btn-success">Save</button>
            <button id="cancelChangesButton" name="cancelChangesButton" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
            </form>
          </div>
        </div>
      </div>

<!-- Account Delete Modal -->
      <div class="modal fade" id="accountDeleteModal" tabindex="-1" role="dialog" aria-labelledby="accountDeleteModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Delete account </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
          <div class="modal-body">
            <div class="form-group">
              <!-- Account Type Form -->
              <form id="account-delete" method="POST" action="/account/delete/">
              <!-- First Name Form -->
              <label class="control-label" for="firstName">First Name</label>
              <input id="firstNameDelete" name="firstNameDelete" type="text" class="form-control input-md" disabled="true">
              <!-- Last Name Form -->
              <label class="control-label" for="lastName">Last Name</label>
              <input id="lastNameDelete" name="lastNameDelete" type="text" class="form-control input-md" disabled="true">
              <!-- Email Form -->
              <label class="control-label" for="emailUpdate">Email</label>
              <input id="emailDelete" name="emailDelete" type="text" class="form-control input-md" disabled="true">
              <!-- Address Form -->
              <div class="addressInput"> 
              <label class="control-label" for="addressUpdate">Address (Patrons Only)</label>
              <input id="addressDelete" name="addressDelete" type="text" class="form-control input-md" disabled="true"
              <!-- Admin Status Radios -->
              <label class="control-label" for="isAdminRadioDelete">Is user an Admin? (Staff Only)</label>
              <div class="radioUpdate">
                <label for="isAdminRadio-0">
                <input type="radio" name="isAdminRadio" id="isAdminRadioDelete-0" value="0" disabled="true">No</label>
                <label for="isAdminRadio-1">
                <input type="radio" name="isAdminRadio" id="isAdminRadioDelete-1" value="1" disabled="true">Yes</label>
              </div>
              <!-- Password Form -->
              <label class="control-label" for="passwordUpdate">Password</label>
              <input id="passwordDelete" name="passwordDelete" type="text" class="form-control input-md" disabled="true">
            </div>
          </div>
          <div class="modal-footer">
            <!-- Form Buttons -->
            <button id="saveAccountButton" name="deleteAccountButton" value="submit" class="btn btn-success">Delete</button>
            <button id="cancelChangesButton" name="cancelChangesButton" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
            </form>
          </div>
        </div>
      </div>
<!-- End Modal -->

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="public/javascripts/formscript.js"></script>

  <!--ACCOUNT SCRIPTS-->
  <script type="text/javascript">
  $(document).ready(() => {
      $('.accountInfo').click((event) => {
        $.ajax({
          url: 'account/' + event.target.dataset.account + '/',
          type: 'GET',
          dataType: 'json',
          success: (data) => {
            $('.modal-body #firstNameUpdate').val(data[0].firstName);
            $('.modal-body #lastNameUpdate').val(data[0].lastName);
            $('.modal-body #emailUpdate').val(data[0].email);
            $('.modal-body #addressUpdate').val(data[0].address);
            $('.modal-body #passwordUpdate').val(data[0].password);
            if (data[0].isAdmin == 1) {
              $('.modal-body #isAdminRadio-1').prop('checked', true);
            }
            else {
              $('.modal-body #isAdminRadio-0').prop('checked', true);
            }
            $('#account-update').attr('action', 'account/' + event.target.dataset.account + '/?_method=PUT');
            $('#accountModal').modal('show');
            console.log('ajax success', data);
            console.log(data[0].firstName);
          }
        });
      });

    $('.deleteAccount').click((event) => { 
      $.ajax ({
        url:'account/'+event.target.dataset.account+'/',
        type: 'GET',
        dataType: 'json',
        success: (data) => {
          $('.modal-body #firstNameDelete').val(data[0].firstName);
          $('.modal-body #lastNameDelete').val(data[0].lastName);
          $('.modal-body #emailDelete').val(data[0].email);
          $('.modal-body #addressDelete').val(data[0].address);
          $('.modal-body #passwordDelete').val(data[0].password);
          if (data[0].isAdmin == 1) {
            $('.modal-body #isAdminRadioDelete-1').prop('checked', true);
          }
          else {
            $('.modal-body #isAdminRadioDelete-0').prop('checked', true);
          }
          $('#account-delete').attr('action', 'account/delete/'+event.target.dataset.account+'/?_method=DELETE');
          $('#accountDeleteModal').modal('show');
        }
      });
    });

  });
</script>

<!--BOOK SCRIPTS-->
<script type="text/javascript">
  $(document).ready(() => {
    $('.bookUpdate').click((event) => {
      $.ajax({
        url: 'item/' + event.target.dataset.item + '/',
        type: 'GET',
        dataType: 'json',
        success: (data) => {
          $('.modal-body #bookTitleInput').val(data[0].title);
          $('.modal-body #bookFormat').val(data[0].format);
          $('.modal-body #bookLanguage').val(data[0].language);
          $('.modal-body #bookLocation').val(data[0].libraryId);
          $('.modal-body #bookCollection').val(data[0].collectionId);
          $('#book-update').attr('action', 'item/' + event.target.dataset.item + '/?_method=PUT');
          $('#bookUpdateModal').modal('show');
          console.log('ajax success', data);
        }
      });
    });

    $('.deleteBook').click((event) => {
      $.ajax({
        url: 'item/' + event.target.dataset.item + '/',
        type: 'GET',
        dataType: 'json',
        success: (data) => {
          $('.modal-body #bookTitleInput').val(data[0].title);
          $('.modal-body #bookFormat').val(data[0].format);
          $('#book-delete').attr('action', 'item/delete/' + event.target.dataset.item + '/?_method=DELETE');
          $('#bookUpdateModal').modal('show');
        }
      });
    });
  });

</script>

</body>

