

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Library Information System</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .control-label {padding-top: 10px;}
    .hide {display: none;}
  </style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="landing">
          <img src="images\mssu.png" height="60" class="d-inline-block align-top" alt="">
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="landing">LANDING PAGE</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link external-link" href="administration">ADMINISTRATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link external-link" href="circulation">CIRCULATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link external-link" href="reference">REFERENCE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link external-link" href="https://www.mssu.edu/business-affairs/information-technology/">IT PORTAL</a>
          </li>
          <li><form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Logout </button>
  </form></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
 <div class="container">

     <div class="col-lg-12 text-center" style="padding: 30px">
         <h3>Administration</h3>
         <p>View, Edit, Add, and Remove Items, Collections, and Patron Accounts.</p>
         <!-- Search form -->
         <div class="input-group mb-3">

             <select class="form-control target accountTypeSelect" id="accountTypeSelect">
                 <option value="patronAccount">Patron Account</option>
                 <option value="materialItem">Material/Item</option>
             </select>

             <!-- Search box -->
             <div class="input-group col-sm-8">
                 <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
             </div>
             <button id="searchButton" name="searchButton" class="btn btn-primary">Search</button>
         </div>
     </div>

      <div class="row" id="patronControls" style="padding: 10px">
          <div class="col"><button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#createAccountModal">Add</button></div>
          <div class="col"><button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#removeAccountModal">Remove</button></div>
          <div class="col"><button type="button" class="btn btn-primary btn-lg btn-block" >View Details</button></div>
          <div class="col"><button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#editAccountModal">Edit</button></div>
      </div>

      <div class="row d-none" id="materialControls" style="padding: 10px">
          <div class="col"><button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#createAccountModal">Add Material</button></div>
          <div class="col"><button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#removeAccountModal">Remove</button></div>
          <div class="col"><button type="button" class="btn btn-primary btn-lg btn-block" >View Details</button></div>
          <div class="col"><button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#editAccountModal">Edit</button></div>
      </div>

      <!-- Add Modal -->
      <div class="modal fade" id="createAccountModal" tabindex="-1" role="dialog" aria-labelledby="createAccountModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Create New Account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
          <div class="modal-body">
            <div class="form-group">
              <!-- Account Type Form -->
              <label class="control-label" for="selectAccount">Account Type</label>
              <select id="selectAccount" name="selectAccount" class="form-control">
                <option value="patronAccount">Patron</option>
                <option value="staffAccount">Staff</option>
              </select>
              <!-- First Name Form -->
              <label class="control-label" for="firstNameInput">First Name</label>
              <input id="firstNameInput" name="firstNameInput" type="text" placeholder="First Name" class="form-control input-md" required="">
              <!-- Last Name Form -->
              <label class="control-label" for="lastNameInput">Last Name</label>
              <input id="lastNameInput" name="lastNameInput" type="text" placeholder="Last Name" class="form-control input-md" required="">
              <!-- Email Form -->
              <label class="control-label" for="emailInput">Email</label>
              <input id="emailInput" name="emailInput" type="text" placeholder="Email@domain.com" class="form-control input-md" required="">
              <!-- Address Form -->
              <div class="addressInput"> 
              <label class="control-label" for="addressInput">Address (Patrons Only)</label>
              <input id="addressInput" name="addressInput" type="text" placeholder="123 Street Address, City, State, Zip" class="form-control input-md">
              </div>
              <!-- Admin Status Radios -->
              <label class="control-label" for="isAdminRadio">Is user an Admin? (Staff Only)</label>
              <div class="radio">
                <label for="isAdminRadio-0">
                <input type="radio" name="isAdminRadio" id="isAdminRadio-0" value="0" >No</label>
                <label for="isAdminRadio-1">
                <input type="radio" name="isAdminRadio" id="isAdminRadio-1" value="1" >Yes</label>
              </div>
              <!-- Password Form -->
              <label class="control-label" for="passwordInput">Password</label>
              <input id="passwordInput" name="passwordInput" type="password" placeholder="Password" class="form-control input-md" required="">
            </div>
          </div>
          <div class="modal-footer">
            <!-- Form Buttons -->
            <button id="saveAccountButton" name="saveAccountButton" class="btn btn-success">Save</button>
            <button id="cancelChangesButton" name="cancelChangesButton" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Add Modal -->

      <!-- RemoveModal Modal -->
      <div class="modal fade" id="removeAccountModal" tabindex="-1" role="dialog" aria-labelledby="removeAccountModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Remove Account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
          <div class="modal-body">
            <div class="form-group">
              <!-- Remove Account by Number Form -->
              <label class="control-label" for="removeAccountSNumber">Remove By Account Number</label>  
              <input id="removeAccountSNumber" name="removeAccountSNumber" type="text" placeholder="" class="form-control input-md">
            </div>
          </div>
          <div class="modal-footer">
            <!-- Form Buttons -->
            <button id="saveAccountButton" name="removeAccountButton" class="btn btn-danger">Remove</button>
            <button id="cancelChangesButton" name="cancelRemovalButton" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Add Modal -->

      <!-- Begin Edit Modal -->
      <div class="modal fade" id="editAccountModal" tabindex="-1" role="dialog" aria-labelledby="editAccountModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="mnpodal-header">
            <h5 class="modal-title" id="modalLabel">Edit Account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
          <div class="modal-body">
            <div class="form-group">
              <!-- Edit Forms -->
            </div>
            <p>PLACEHOLDER</p>
          </div>
          <div class="modal-footer">
            <!-- Form Buttons -->
            <button id="saveAccountButton" name="removeAccountButton" class="btn btn-primary">Save</button>
            <button id="cancelChangesButton" name="cancelRemovalButton" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Table Area -->
      <div class="col-lg-12 text-center" style="padding: 10px">

          <h3 id="patronAccountsHeading">Patron Accounts</h3>
          <h3 class="d-none" id="materialsHeading">Materials/Items</h3>
          
          <table class="table table-bordered table-hover">
              <thead>
                  <tr>
                      <th scope="col">S#</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">Address</th>
                  </tr>
              </thead>
              <tbody>
                {{#patron}}
                  <tr>
                      <th scope="row">{{accountId}}</th>
                      <td>{{firstName}}</td>
                      <td>{{lastName}}</td>
                      <td>{{#if address}}{{address}}{{else}}Nothing on file{{/if}}</td>
                  </tr>
                {{/patron}}
              </tbody>
          </table>

      </div>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.slim.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="public/javascripts/formscript.js"></script>
  
    <script>
    $( document ).ready(function() {
      $(".accountTypeSelect").change(function() {
        if ($(this).val() == "patronAccount") {
          $("#patronControls").removeClass('d-none');
          $("#materialControls").addClass('d-none');
          $(".materialsHeading").addClass('d-none');
        } else {
          $("#patronControls").addClass('d-none');
          $("#materialControls").removeClass('d-none');
          $(".patronsHeading").addClass('d-none');
          $(".patronsHeading").addClass('d-none');
        }
      });
    console.log( "ready!" );
});
  </script>

</body>

